/* Conteneur principal pour le contenu */
.content-container {
    padding: 20px;
    background-color: #f4f4f4;
}

/* Slider container */
.slider-container {
    position: relative;
    height: 450px; 
    overflow: hidden;
    border-radius: 8px;
    
}
.slider-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(201, 189, 189, 0.596); 
    z-index: 1;
}

/* Slider background */
.slider {
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out; 
}

.slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: inherit;
    filter: blur(4px);
    z-index: -1;
}

.hero-content {
    position: absolute;
    top: 0;
    left: 25%;
    transform: translateX(-50%);
    color: white;
    text-align: left;
    z-index: 1;
    max-width: 40%;
}
/* Boutons Connexion et Inscription */
.button-group {
    display: flex;
    flex-direction: row; /* Alignement horizontal */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    gap: 20px; /* Espacement entre les boutons */
    margin-top: 20px; /* Espacement entre les boutons et le texte */
}

.cta-button {
    background-color:#35b8cf;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 200px; /* Largeur uniforme */
}

.cta-button:hover {
    background-color:#006d77;
    transform: scale(1.05);
}

/* Style du bouton secondaire (Inscription) */
.cta-button.secondary {
    background-color:#1a6fb0;
}

.cta-button.secondary:hover {
    background-color:#0b1a2e;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
    margin-top: 80px;
    color:#0b1a2e;
    font-family: unsetRoobert, serif;
}

.hero p {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 80px;
    color: #0b1a2e;
    font-family: unsetRoobert, serif;
}

/*.cta-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #11325b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0b1a2e;
}*/

.definition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 20px 0;
}

.definition .def-item {
    width: 100%;
}

.definition .def-item h3 {
    font-size: 2em;
    color: #11325b;
    margin: 0 0 10px 0;
    font-family: 'Roobert', sans-serif;
    text-align: center;
}

.description {
    padding: 10px;
    color: #11325b;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
    text-align: justify;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


.teleconsultation-benefits {
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #f7ede2;
    padding: 20px 10px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 50px;
    margin-top: 20px; 
}

.teleconsultation-benefits h2{
 
    margin-bottom: 10px;
    color: #0b1a2e;
}
.teleconsultation-benefits p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #0b1a2e;
    font-family: unsetRoobert, sans-serif;
}

.learn-more-button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color:#35b8cf;
}

.learn-more-button:hover {
    background-color:#006d77;
}

.css-xlhg40 {
    color:#343a40;
    font-family: Roobert, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 50px;
    line-height: 58px;
    font-weight: 900;
    padding-bottom: 48px;
    text-align: center;
}

.engagements {
    text-align: center;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    max-width: 800px;
    margin: 0 auto; 
}

.icon-box {
    text-align: center;
}

.icon {
    width: 60px; 
    height: 60px;
    margin-bottom: 10px;
  
    
}

h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color:#006d77;
    font-family: Roobert, sans-serif;
    font-size: 20px;
}

p {
    font-size: 16px;
    color: #343a40;
    font-family: unsetRoobert, sans-serif;
}


.fonctionnement h3{
    margin: 10px 0 5px;
    font-size: 18px;
    color:#e29578;
    font-family: Roobert, sans-serif;
    font-size: 20px;
}
.communaute-container {
    display: flex;
    align-items:end;
    justify-content: space-between;
}
.communaute{
    background-color: #fff; 
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;

}
.communaute h2{
    color:#e29578;
    font-family: Roobert, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 50px;
    line-height: 58px;
    font-weight: 900;
    padding-bottom: 48px;
    text-align: center;
}


.image-left {
    max-width: 80%;
    height: auto;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    padding-right: 50px;
}

.communaute-container {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.communaute .communaute-container .text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.communaute .communaute-container .text-box h3 {
    font-size: 2em;
    color: #11325b;
    margin: 0 0 10px 0;
    font-family: 'Roobert', sans-serif;
}

.communaute .communaute-container .text-box p {
    padding: 10px;
    color: #11325b;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    text-align: justify;
    max-width: 800px;
    margin: 0;
}
.contacter {
    position: relative;
    background: url('../../assets/img5.webp');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.contacter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
}
.contacter h2,
.contacter p,
.contacter .btn-connecter {
    position: relative;
    z-index: 2; 
}
.contacter h2 {
    color: #343a40;
    font-family: Roobert, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 50px;
    line-height: 58px;
    font-weight: 900;
    padding-bottom: 10px;
    padding-top: 15px;
    text-align: center;
    margin-bottom: 0; 
}

.contacter p {
    text-align: center;
}


.btn-connecter {
    border: none;
    background-color: transparent;
    color:#1a6fb0;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: underline;
    display: block;
    margin: 0 auto; 
}

.btn-connecter:hover {
    color:#35b8cf;
}

