<app-navbar></app-navbar>
<div class="container">
    <div class="left">
      <h1>Trouvez et consultez en ligne le médecin qui vous correspond</h1>
      <ul>
        <li>Santé mentale et physique</li>
        <li>Avec rendez-vous</li>
        <li>30 min d'attente moyenne</li>
      </ul>
      <p>*Lorsque le parcours de soins est respecté par le patient, des frais non remboursables peuvent s'appliquer en fonction des services choisis</p>
    </div>
    <div class="right">
      <img src="assets\img14.png" alt="Image médicale" />
    </div>
  </div>
  <div class="bande">
    <div class="bande-left">
      <img src="assets\img15.png" alt="Image" />
    </div>
    <div class="bande-right">
      <p class="bande-text">Et si vous preniez soin de votre santé mentale ?</p>
      <p class="bande-text">Des psys à votre écoute, même le soir et le week-end</p>
      <button class="btn-discover">Découvrir eMedCare Psy -></button>
    </div>
  </div>
